@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main__container,
.hero__container,
.hero__container-heading {
    margin: 1rem 1.25rem 1rem 1.25rem;
}

.hero__container-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.hero__container-heading img {
    width: 79.29px;
    height: 20px;
}

.hero__container-heading button {
    background-color: #13183f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 150%;
    word-spacing: 0px;
    border-radius: 2rem;
    padding: 1rem 2rem 1rem 2rem;
}

.hero__container h1 {
    margin: 4rem 0 1.5rem 0 ;
    color: #13183f;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 120%;
    word-spacing: 0px;
}

.hero__container p {
    color: #83869A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    word-spacing: 0px;
    padding-right: 0.5rem;
    margin-bottom: 2.5rem;
}

.alt-button {
    background-image: linear-gradient(#ff6f48, #f02aa6);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 150%;
    word-spacing: 0px;
    border-radius: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 3rem;
}

.hero__img-mobile {
    position: relative;
    left: auto;
    margin-bottom: 3rem;          
}

.hero__img-tablet {
    display: none;
}

.hero__img-desktop {
    display: none;
}

.main__container {
    margin-bottom: 5rem;
}

.main__container h2 {
    background-image: linear-gradient(#ff6f48, #f02aa6);
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    line-height: 120%;
    word-spacing: 0px;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.sub__container {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 0 2rem 2.5rem 2rem;
    border-radius: 1rem;
}

.sub__container img {
    margin-bottom: 2.25rem;
}

.sub__container h3 {
    font-size: 20px;
    font-weight: bolder;
    line-height: 120%;
    word-spacing: 0px;
    margin-bottom: 1.5rem;
}

.sub__container p {
    color: #83869A;
    font-weight: bold;
    line-height: 150%;
    word-spacing: 0px;
    margin-bottom: 1.5rem;
}

.sub__container a {
    color: #f74780;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    word-spacing: 0px;
    text-decoration: none;
}

.footer__container {
    background-color: #13183f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
}

.footer__container img {
    width: 79.29px;
    height: 20px;
    margin-right: 3rem;
}

.footer__container button {
    background-image: linear-gradient(#4851ff, #f02aa6);
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 150%;
    word-spacing: 0px;
    border-radius: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    margin-left: 2rem
}

@media (min-width: 768px) {
    body {
        background-color: #e8eaf0;
    }

    .main__container,
    .hero__container,
    .hero__container-heading {
        margin: 1.5rem 2.75rem 1rem 2.75rem;
    }

    .hero {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .hero__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 460px;
    }

    .hero__img-mobile {
        display: none;
    }

    .hero__img-tablet {
        display: inline;
        position: relative;
        top: -40%;
    }

    .hero__container h1 {
        width: 326px;
    }

    .hero__container p {
        padding: 0;
        width: 326px;
    }

    .hero__container button {
        width: 152px;
        height: 42px;
        font-size: 18px;
        padding: 0;
    }

    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        row-gap: 3rem;
        margin-bottom: 6rem;
    }

    .main__container h2 {
        margin: 0;
        padding-top: 4rem;
    }

    .sub__container {
        background-color: rgba(255, 255, 255, 0.41);
        border-radius: 1rem;
        gap: 4rem;
    }

    .footer__container {
        display: flex;
    }

    .footer__details button {
        margin-left: 26rem;
    }   
}

@media (min-width: 1440px) {
    .main__container,
    .hero__container,
    .hero__container-heading {
        margin: 4rem 10.25rem 0rem 10.25rem;
    }

    .footer__container {
        padding: 2rem 10.25rem 0rem 10.25rem;
    }

    .hero__container-heading {
        margin-top: 1rem;
    }

    .hero__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 460px;
        margin-bottom: 13rem;
    }

    .hero__container__description {
        padding-top: 4rem;
        width: 544px;
    }

    .hero__container__description h1 {
        font-weight: 800;
        font-size: 56px;
        width: 457px;
    }

    .hero__container__description p {
        font-size: 18px;
        width: 457px;
    }

    .hero__img-tablet {
        display: none;    
    }

    .hero__img-desktop {
        display: inline;
        position: relative;
        top: -55%;
        right: 0%;
    }

    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 5rem;
        margin-bottom: 8rem;
    }

    .main__container h2 {
        font-size: 32px;
    }

    .sub__container h3 {
        font-size: 24px;
    }

    .sub__container p {
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0px;
    }

    .footer__container {
        display: flex;
    }

    .footer__details button {
        margin-left: 50rem;
    }   
}   